<meta charset="utf-8">

<div id="filter">

    <form [formGroup]="myform" (ngSubmit)="filter(myform.value)">  

    <button id="getMap" (click)="openMap(mapModal)" type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-map-marker"></span> Map
    </button>

        <input type="submit" class="btn btn-info" value="סינון" [disabled]="!myform.valid">

        <select class="form-control" formControlName="dorms">
            <option value="null" >מעונות?</option>
            <option *ngFor="let d of dorms"
              [value]="d"> 
              {{d}} 
             </option>
        </select>

        <select class="form-control" formControlName="salary">
            <option value="null" >בחר סוג שכ"ל</option>
            <option *ngFor="let s of salary"
              [value]="s"> 
              {{s}} 
             </option>
        </select>

        <select class="form-control" formControlName="institute">
            <option value="null" >בחר סוג מוסד</option>
            <option *ngFor="let i of institute"
              [value]="i"> 
              {{i}} 
             </option>
        </select>

        <select class="form-control" formControlName="subEng">
            <option value="null" >בחר תחום הנדסה</option>
            <option *ngFor="let s of subEngs"
              [value]="s"> 
              {{s}} 
             </option>
        </select>

        <select class="form-control" formControlName="location">
            <option value="null" >בחר מיקום</option>
            <option *ngFor="let l of locations"
              [value]="l"> 
              {{l}} 
             </option>
        </select>

    </form>
</div>


<div id="institutes">
    <section class="frame" *ngFor="let i of institutes">
        <section class="pic">
            <img src="{{i.pic}}">
        </section>
        <section class="logo">
            <img src="{{i.logo}}">            
        </section>
        <p class="name">{{i.name}}</p>
    </section>    
</div>


<ng-template #mapModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">מוסדות במפה</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <div class="form-container">
            <div class="row-columns">
              <agm-map [latitude]="32.1" [longitude]="35">
                <agm-marker [latitude]="latShenkar" [longitude]="lngShenkar" title="shenkar"></agm-marker>
                <agm-marker [latitude]="latAfeka" [longitude]="lngAfeka" title="אפקה"></agm-marker>
                <agm-marker [latitude]="latTech" [longitude]="lngTech" title="הטכניון"></agm-marker>
                <agm-marker [latitude]="latAriel" [longitude]="lngAriel" title="אוניברסיטת אריאל"></agm-marker>
                <agm-marker [latitude]="latHIT" [longitude]="lngHIT" title="מכון טכנולוגי HIT"></agm-marker>
                <agm-marker [latitude]="latOrt" [longitude]="lngOrt" title="מכללת אורט בראודה"></agm-marker>
                <agm-marker [latitude]="latBenG" [longitude]="lngBenG" title="אוניברסיטת בן גוריון"></agm-marker>               
              </agm-map>
            </div>
        </div>
  </div>
</ng-template>




