<meta charset="utf-8">

<div id="login">
    <form>
        <h2>אימייל</h2>
        <input #email type="email" name="email" ngModel  required>
        <h2>סיסמא</h2>
        <input #pass type="password" name="password" ngModel  required>
        <p id="res"></p>
        <p routerLink="/forgotPassword" id="forgot">?שכחת סיסמא</p>
        <button id="sighnIn" (click)="login()" type="submit">התחבר</button>
        <h2 id="or">או</h2>
        <button id="Facebook" (click)="socialSignIn('facebook')">Facebook</button>
        <button id="Google" (click)="socialSignIn('google')">Google+</button>   

    </form>

</div>
